html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

a {
  color: #fff; }

p {
  color: #758285; }

section {
  padding: 2rem 0; }

hr {
  height: 1px;
  background-color: #758285; }

#kulinaMenu {
  background: transparent; }

.kulina-navbar {
  background: transparent;
  padding: 1rem 0; }
  .kulina-navbar--item {
    text-align: center;
    color: #fff; }
    .kulina-navbar--item:hover {
      background-color: #ffffff11 !important;
      color: #fff !important; }
    .kulina-navbar--item.active {
      font-weight: 600; }

.kulina-container {
  max-width: 1000px; }

.is-space-between {
  display: flex;
  justify-content: space-between; }

.header {
  height: 100vh;
  background: linear-gradient(#ff4057bb, #ff826022), url("../images/bg-working-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  margin-bottom: 5rem; }
  .header--wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__title {
    color: #fff;
    font-size: 42px;
    font-weight: 900;
    text-align: center; }
  .header--scroll {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem; }
  .header__btn {
    border-radius: 50px;
    background-color: #fff;
    color: #ff4057bb;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }

.kulina-article {
  padding-bottom: 5rem; }
  .kulina-article__title {
    font-size: 32px;
    font-weight: 900;
    color: #373d3f; }
  .kulina-article__content {
    color: #758285; }

.card {
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(43, 43, 43, 0.24);
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 24px; }

.career__title {
  font-size: 16px;
  font-weight: 900;
  color: #373d3f; }

.career__info {
  font-size: 12px;
  color: #758285;
  margin-bottom: 0; }

.career__btn {
  background-color: #fd7314;
  padding: 20px 40px;
  border: none;
  color: #fff; }

.kulina-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px; }
  .kulina-footer .icon-love {
    color: #f9423a; }

.social-media ul {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.social-media ul > li {
  padding: .5rem; }

.social-media a {
  color: #758285;
  font-size: 26px; }

@media (max-width: 320px) {
  .navbar-burger {
    display: block; }
  .career__title {
    font-size: 14px; }
  .career__info {
    font-size: 10px; }
  .career__btn {
    padding: 10px 20px; }
  .kulina-article {
    padding: 1rem;
    padding-bottom: 5rem; }
    .kulina-article__title {
      text-align: center; }
      .kulina-article__title--wrapper {
        width: 100%; }
    .kulina-article__content--wrapper {
      width: 100%; }
    .kulina-article__jobs {
      padding: 1rem; }
      .kulina-article__jobs--wrapper {
        width: 100%; }
  .kulina-menu__left {
    position: absolute;
    width: 100%; }
  .kulina-footer p {
    padding: 0 1rem;
    text-align: center; }
  .social-media {
    display: none; } }

@media (min-width: 321px) and (max-width: 1440px) {
  .kulina-navbar {
    display: flex;
    justify-content: space-between; }
  .navbar-burger {
    display: none; }
  .navbar-menu {
    display: block; }
  .kulina-menu {
    box-shadow: none; }
    .kulina-menu__left {
      display: flex; }
  .kulina-article {
    justify-content: center;
    display: flex;
    padding: 1rem;
    padding-bottom: 5rem; }
    .kulina-article__title {
      text-align: left; }
      .kulina-article__title--wrapper {
        flex: none;
        width: 30%; }
    .kulina-article__content--wrapper {
      flex: none;
      width: 70%; }
    .kulina-article__jobs--wrapper {
      flex: none;
      width: 70%; } }
